.hero {
    position: relative;
}

.background {
    height: 95vh;
    width: 100%;
    object-fit: cover;
    
}

.logo{
    position: absolute;
     bottom: 78%;
    left: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px;
    margin-right: 8px;
}

.type{
    font-weight: bold;
    color: #B1B1B0;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: x-large;
}
.titleLogoWrapper{
    position: absolute;
     top: 28%;
    left: 4%;
    max-width: 40%;
    
}
.titleLogoWrapper img {
    width: 100%;
  height: auto;
  max-height: 350px;
}

.hero h3{
    position: absolute;
    top: 60%;
    left: 4%;
    color: white;
    font-weight: 400;
    width: 35%;
    text-align: justify;
}
.buttons{
    display: flex;
    position: absolute;
    bottom: 20%;
    left: 4%;
    right: 4%;
}

.buttons span {
    font-size: 1.6rem;
}

.empty{
    flex-grow: 1;
}

.again span{
    color: white;
}

.icon span, .again span {
    padding-left: 1.1vw;
}

.icon, .again {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    padding: 5px 30px 5px 30px;
}

.icon:hover, .again img:hover{
    cursor: pointer;
    opacity: 0.8;
   
} 

.icon img {
width: 30px;
}

.again img {
    width: 50px;
}

.play {
    background-color: white;
    margin-right: 20px;
}

.info{
    background-color: rgba(255, 255, 255, 0.5);
}

.info span{
    color: white;
}

.coming{
    position: absolute;
   top: 55%;
    left: 4%;
}