.notSeriesDetails {
  color: white;
  margin: 0.8em 4% 0.8em 4%;
  font-size: 16px;
  font-weight: thin;
  display: grid;
  line-height: 1.6;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

.match {
  color: #47c162;
  margin-right: 0.5em;
}

.year,
.age,
.duration,
.series {
  margin-right: 0.5em;
}

.description {
  grid-column: 1 / span 2;
}

.classification {
  font-size: 14px;
  grid-row: 1 / span 2;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  text-align: justify;
}

.classification section {
  color: #6c6c6c;
  margin: 0.5em 0.5em 0.5em 0;
}

.classification section span {
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

.classification section span:hover {
  text-decoration: underline;
}

.more {
  text-transform: none;
}

.age,
.hd {
  border: white;
  border-style: solid;
  border-width: 1px;
}

.hd {
  font-size: 0.7em;
  border-radius: 2px;
  padding: 0 0.5em;
  opacity: 0.9;
}

.age {
  padding: 0 0.4em;
}
