@font-face {
  font-family: "NetflixSans";
  src: local("NetflixSans"),
    url(../assets/fonts/NetflixSansRegular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "NetflixSans";
  src: local("NetflixSans"),
    url(../assets/fonts/NetflixSansBold.ttf) format("truetype");
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
font-family: "NetflixSans";
box-sizing: border-box;
}

h1{
  font-size: 3.125vw;
}

h2{
  font-size: 1.625vw;
}
h3{
  font-size: 1.2vw;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}